/* tiny reset */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

/* body */
body{
  background: #292929;
  font-family: sans-serif;
}

/* title */
h1{
  color: #b6afaf;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

/* tasks */
.tasks{
  width: 400px;
  height: 405px;
  position: absolute;
  top: 5%;
  left: 0px;
  right: 0px;
  margin: 50px auto;
}

.label{
  background: #494848;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 1px;
  text-indent: 20px;
  transition: all 0.7s ease;
  position: relative;
  padding: 1px;
    margin-bottom: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.label h2 span{
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
  color: #fff;
    padding: 10px 10px 10px 10px;
}

*{
	box-sizing: border-box;
}

form{
	/*padding: 15px;*/
    margin-left: 27%;
	text-align: center;
    width: 500px;
    color: white;
}
input{
	padding: 12px 0;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 2px solid transparent;
	text-align: center;
	width: 80%;
	font-size: 16px;
	transition: border .2s, background-color .2s;
    background-color: #5e5e5e;
}
form .field{
	background-color: #5e5e5e;
    color: white;
}
form .field:focus {
	border: 2px solid #3498DB;
}
form .btn{
	/*background-color: #3498DB;*/
	color: #fff;
	line-height: 25px;
	cursor: pointer;
    position: absolute;
    width: 17%;
    left: 42%;
}
form .btn:hover,
form .btn:active {
	background-color: #1F78B4;
	border: 2px solid #1F78B4;
}
.pass-link{
	text-align: center;
}
.pass-link a:link,
.pass-link a:visited{
	font-size: 12px;
	color: #777;
}
h3 {
  text-align: center;
  color: white;
  font-weight: 900;
  font-family: "Arial", sans-serif;
}

.field {
    background-color: #5e5e5e;
}

textarea {
    background-color: #5e5e5e;
    position: center;
    border: #5e5e5e;;
}

p {
    color: white;
}

#add_word_button {
    width: 15%;
    margin: 0 0 0 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    position: absolute;
    left: 40%;
    background-color: #ff4141;
}
