{% extends 'tdapp/base.html' %}
{% block content %}

<div class="tasks">

    {% for task in tasks %}
    <div class="label">
    <h2>{{ task.name }}
    <p></p>
        <h4>Status:{% if task.done %} Done
        {% else %}In progress{% endif %}</h4>
        <span>{{ task.text }}</span>
    </h2>
  <p></p>
  <a href="{% url 'tdapp:update' task.id %}" class="btn btn-sm btn-info"
     style="width: 49%">Update</a>
  <a href="{% url 'tdapp:delete' task.id %}" class="btn btn-sm btn-danger"
     style="width: 49%">Delete</a>
  </div>
    {% endfor %}
<p></p>
    <a href="{% url 'tdapp:create' %}" class="btn btn-sm btn-success"
    style="width: 100%">Create</a>
</div>

{% endblock %}